@import './global';

.form-group {

	.form-control {

		&:not(active) {
			color: black;
		}

		&:focus {
			color: black;
		}
	}

	.error-message {
		color: $color-danger !important;
	}
}

.icon-plus, .icon-close {
	color: $color-success;
}
